#pagetitle h2 {
  margin: 25px 0 18px 0;
  font-family: Helvetica, Arial, sans-serif;
  color: #6b6b6b;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.1em;
  letter-spacing: 0.03em;
}
#pagetitle h2,
#pagetitle h2 a {
  text-decoration: none;
}