#titlegraphic h1 {
  padding: 0 8px;
  position: absolute;
  top: 10px;
  left: 84px;
  font-size: 40px;
  letter-spacing: -0.045em;
  text-shadow: 0 0 3px #fff;
  font-weight: normal;
}
#titlegraphic h1,
#titlegraphic h1 a {
  text-decoration: none;
  color: #737171;
}
#titlegraphic h2 {
  display: none;
}
#pagetitle h2 {
  margin: 25px 0 18px 0;
  font-family: Helvetica, Arial, sans-serif;
  color: #6b6b6b;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.1em;
  letter-spacing: 0.03em;
}
#pagetitle h2,
#pagetitle h2 a {
  text-decoration: none;
}