@import url('breadcrumbs.css');

/*
All styles for the navigation
Created: 05/22/2009
Last edited: 04/12/2011
Author: WDN

*/
#wdn_navigation_bar {
    width:100%;
    clear:both;
}

#wdn_navigation_wrapper{ /* This background image solution isn't supported in <IE8 */
    /*
    overflow:hidden;
    background-size:100% 1.688em;
    -moz-background-size: 100% 1.688em;*/
    background-repeat:no-repeat;
    margin-top:10px;
}

#navigation {
    font-family: sans-serif;
    /* overflow: hidden; */
    clear: both;
    position:relative;
}

#navigation ul ul li:first-child {
    display: block;
}
#navigation > ul
{
    float:left;
    border-radius:5px 5px 0 0; 
    position:relative;
    width:960px;
    background-image: -moz-linear-gradient(top, #b70302 0%, #9d0201 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b70302), color-stop(100%,#9d0201));
}


#navigation a
{
    color: #242424;
    text-decoration: none;
}

#navigation a:hover
{
    color: #ba0000;
}

#navigation > ul > li{
    width:158px;
    float:left;
    text-align:center;
    border-right:1px solid #870d0c;
    border-left:1px solid #c83a3a;
}
#navigation > ul > li:first-child  {
    border-left:none;
    width:159px;
}#navigation > ul > li:last-child  {
    border-right:none;
    width:159px;
}
#navigation > ul > li > a {
    display:block;
    color:#fff;
    text-shadow: 1px 1px 1px #424242;
    font-weight:bold;
    font-size:0.875em;
    padding:0.47em 0;
}
#navigation > ul > li > a:hover {
    color:#fff !important;
}

#navigation ul li ul {
    position:absolute;
    top:100%;
    width:148px;
    padding:10px 5px 3px 5px;
    border-right:1px solid #d5d5d5;
    border-left:1px solid #f1f1f1;
    border-bottom:1px solid #c9c9c9;
    margin-left:-1px;
    background-image: -moz-linear-gradient(top, rgba(251,251,251,0.95) 0%, rgba(215,215,215,0.95) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,251,251,0.95)), color-stop(100%,rgba(215,215,215,0.95)));
}
#navigation ul li:first-child ul {
	border-left:1px solid #c9c9c9;
	border-radius:0 0 0 5px;
	margin-left:0;
}
#navigation ul li:nth-child(6n) ul {
    border-right:1px solid #c9c9c9;
    border-radius:0 0 5px 0;
}
#navigation ul li ul li{
    clear: both;
    padding:0 5px;
    margin: 0;
    text-align:left;
}

#navigation ul li a{
}

#navigation ul li ul li a{
    font-size: 0.71em;
    padding: 3px 0px 3px 0px;
    font-weight: normal;
    display: block;
    border-bottom:1px dotted #b3b3b3;
}
#navigation ul li ul li:last-child a{border-bottom:none;}
#navigation ul li ul li img{display:none !important;}
