@import url('breadcrumbs.css');

/*
All styles for the navigation
Created: 05/22/2009
Last edited: 04/12/2011
Author: WDN

*/
#wdn_navigation_bar {
    width:100%;
    clear:both;
}

#wdn_navigation_wrapper{ /* This background image solution isn't supported in <IE8 */
    /*
    overflow:hidden;
    background-size:100% 1.688em;
    -moz-background-size: 100% 1.688em;*/
    background-repeat:no-repeat;
    margin-top:10px;
}

#navigation {
    font-family: sans-serif;
    /* overflow: hidden; */
    clear: both;
    position:relative;
}

#navigation ul ul li:first-child {
	display: block;
}
#navigation > ul
{
    background-image: -moz-linear-gradient(top, #b70302 0%, #9d0201 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b70302), color-stop(100%,#9d0201));  
    border-radius:5px 5px 0 0; 
    display:-webkit-box; 
    display:-moz-box; 
    display:box;
    padding:0 9px;
}


#navigation a
{
    color: #242424;
    text-decoration: none;
}

#navigation a:hover
{
    color: #ba0000;
}

#navigation > ul > li{
    width:155px;
    float:left;
    text-align:center;
    position:relative;
    border-right:1px solid #870d0c;
    border-left:1px solid #c83a3a;
    height:auto;
    vertical-align:sub;
    display:-webkit-box;
    -webkit-box-pack: justify;
    -webkit-box-orient: vertical;
    display:-moz-box;
    -moz-box-pack: justify;
    -moz-box-orient: vertical;
    display:box;
    box-pack: justify;
    box-orient: vertical;
}
#navigation > ul > li:first-child {
    clear:left;	
}
#navigation > ul > li:first-child > a:before {
    border-left:1px solid #870d0c;
    width:1px;
    height:20px;
}
#navigation > ul > li:last-child {
}
#navigation > ul > li > a {
	display:block;
    color:#fff;
    text-shadow: 1px 1px 1px #424242;
    font-weight:bold;
    font-size:0.875em;
    padding:0.47em 0;
    -webkit-box-flex:1;
    -webkit-box-pack: end;
    -moz-box-flex:1;
    -moz-box-pack: end;
    box-flex:1;
    box-pack: end;
}
#navigation > ul > li > a:hover {
    color:#fff !important;
}

#navigation ul li ul {
    background:none;
    margin: 0;
    padding:0 9px;
    position:absolute;
    display:block;
    left:0;
    -webkit-box-flex:1;
    -webkit-box-pack: end;
    -moz-box-flex:1;
    -moz-box-pack: end;
    box-flex:1;
    box-pack: end;
}

#navigation ul li ul li{
    clear: both;
    padding: 0px;
    margin: 0;
    text-align:left;
}

#navigation ul li a{
}

#navigation ul li ul li a{
    font-size: 0.71em;
    padding: 3px 0px 3px 0px;
    font-weight: normal;
    display: block;
    background-image: url(images/secondaryBorderBottom.gif);
    background-repeat: repeat-x;
    background-position: bottom left;
}
#navigation ul li ul li img{display:none !important;}
#navigation-close{
	display:none;
	position:absolute;
	top:0;
	right:0;
	height:16px;
	width:16px;
	background:url('images/closeSprite.png') no-repeat;
}
#navigation-close:hover{
	background-position:0 -17px;
	cursor:pointer;
}

#navigation-expand-collapse {
	position:absolute;
    bottom:11px;
    font-size:13px;
    width:100%;
    text-align:center;
}

#wdn_navigation_wrapper.collapsed #navigation-expand-collapse {
	/* add styles in here for the collapsed state */
}

#navigation form {
    display:none;
}
