#wdn_identity_management {
	position:absolute;
	top:7px;
	left:400px;
	background-position: 0px 0px;
	font-size:1em;
	font-weight:bold;
	color:#727272;
	font-family:sans-serif;
	vertical-align:top;
	overflow:visible;
	background:#f1f1f1;
	border-radius:5px;
	padding:4px;
}
#wdn_identity_management:empty{display:none;}
#wdn_identity_management img {
	border:1px solid #b8b8b8;
	vertical-align: bottom;
    border-radius:5px;
}
#wdn_identity_management .username {
	margin-right:5px;
}

#wdn_identity_management a:first-of-type:hover {
    border-bottom:none;	
}
#wdn_idm_logout {
    position:relative;
    float:right;
    text-indent:-999999em;
    background:url('images/wdn_idmLogout.png') no-repeat 0 1px;
    width:16px;
    height:16px;
    opacity:0.6;
}
#wdn_idm_logout:hover {
    opacity:1;	
}
img.profile_pic {
	padding:3px 3px 6px 3px;
}
img.profile_pic.small {
	background:url('images/wdn_idmProfileSmall.png') no-repeat top left;
}
img.profile_pic.medium {
	background:url('images/wdn_idmProfileMedium.png') no-repeat top left;
	padding:7px 7px 12px 7px;
}